# Introducción

En la sesión de hoy comenzaremos a trabajar con Pandas, la librería más utilizada en el mundo Python para el análisis de datos y el manejo de DataFrames.

# Primer paso

El primer y más importante paso es importar la librería Pandas para poder utilizarla en nuestro código.

In [ ]:
import pandas as pd

# Dataframes

Los dataframes es el tipo de estructura de datos más importante en Pandas. Podemos pensar en ellos como una tabla o matriz, que estará formada por tanto por N filas y M columnas.

La función DataFrame nos permite crear DataFrames. Solo necesitamos introducir los datos.

In [ ]:
#Introducimos los datos de cada fila
mi_tabla =  pd.DataFrame( [[50, "María"], [31, "Juan"], [18, "Silvia"]])
mi_tabla

    0       1
0  50   María
1  31    Juan
2  18  Silvia

In [ ]:
#Podemos darle nombre a las columnas con el parametro "columns"
pd.DataFrame( [[50, "María"], [31, "Juan"], [18, "Silvia"]], columns=["Edad", "Nombre"])

   Edad  Nombre
0    50   María
1    31    Juan
2    18  Silvia

In [ ]:
#Es más típico crearlo con un diccionario, ya que nos permite directamente indicar también el nombre de las columnas.
mi_tabla = pd.DataFrame( {"Edad":[50,31,18], "Nombre": ["María", "Juan", "Silvia"]}  )
mi_tabla

   Edad  Nombre
0    50   María
1    31    Juan
2    18  Silvia

In [ ]:
mi_tabla.Edad

0    50
1    31
2    18
Name: Edad, dtype: int64

In [ ]:
mi_tabla.Nombre

0     María
1      Juan
2    Silvia
Name: Nombre, dtype: object

In [ ]:
mi_tabla.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
Id = [1,2,3]
mi_tabla.index = Id
mi_tabla

   Edad  Nombre
1    50   María
2    31    Juan
3    18  Silvia

#Series

Por otro lado, tenemos otra estructura de datos impotante en Pandas que, aunque sea menos utilizada que los dataframes, tiene sus utilidades.
Esta estructura son las series, que son estructuras unidimensionales conteniendo un array de datos y un array de etiquetas que van asociadas a los datos, llamado índice (index ):

In [ ]:
ventas = pd.Series ([10, 20, 16], index = ['Enero', 'Febrero', 'Marzo'])
ventas

Enero      10
Febrero    20
Marzo      16
dtype: int64

In [ ]:
ventas.index

Index(['Enero', 'Febrero', 'Marzo'], dtype='object')

In [ ]:
ventas[0]

10

In [ ]:
ventas['Enero']

10

#EJERCICIO 1

Crea, a partir de un diccionario, un DataFrame llamado data con los datos de la tabla siguiente:


|Mes|Ventas|Gastos|
| - | - | - |
|Enero| 30500|22000|
|Febrero|34120|23400|
|Marzo|31200|25112|
|Abril|36500|21300|

*Nota: La columna Mes ha de ser el index

In [ ]:
data = 
data = data.set_index('Mes') #función que fija como índice una de las columnas del dataframe creado
data

SyntaxError: ignored

In [ ]:
data.Ventas

Mes
Enero      30500
Febrero    34120
Marzo      31200
Abril      36500
Name: Ventas, dtype: int64

In [ ]:
data.index

Index(['Enero', 'Febrero', 'Marzo', 'Abril'], dtype='object', name='Mes')

# Entendiendo el Index

Los DataFrames de Pandas tienen un campo llamado Index, que facilita el acceder a los datos de una manera más fácil. También permite dar un nombre a cada fila, lo que facilita el trabajar con el DataFrame.


Veréis que al no hacerlo en los ejemplos anteriores, se creó un Index 0,1,2... para cada fila del dataframe automáticamente, mientras que en el ejemplo siguiente cada fila toma la etiqueta o nombre que nosotros le indicamos.

In [ ]:
pd.DataFrame( {"Edad":[50,31,18], "Nombre": ["María", "Juan", "Silvia"]}, index=["Cliente1", "Cliente2", "Cliente3"])

          Edad  Nombre
Cliente1    50   María
Cliente2    31    Juan
Cliente3    18  Silvia

## Puedes tratar de repetir el ejercicio 1 creando el dataframe de Ventas y Gastos por mes de esta forma.

In [ ]:
data = pd.DataFrame({'Ventas': [30500, 34120, 31200, 36500], 'Gastos': [22000,23400,25112,21300]}, index = ['Enero', 'Febrero', 'Marzo', 'Abril'])
data

         Ventas  Gastos
Enero     30500   22000
Febrero   34120   23400
Marzo     31200   25112
Abril     36500   21300

#Leyendo datos de un fichero

Lo más habitual es tener los datos en un fichero en el ordenador o un sistema externo. Para leer datos y guardarlos en un DataFrame, la forma más fácil es utilizar la función read_csv de pandas, lo que nos permite leer un fichero CSV, ya esté en local.

Para ello solo tenemos que indicarle donde está el fichero. En este caso, lo leeremos de una ruta pública de GitHub.

In [ ]:
url_fichero = "https://raw.githubusercontent.com/tonilopezrosell/datasciencemasterthevalley/main/house_prices.csv"
house_prices = pd.read_csv(url_fichero)


#La función head() nos permite mostrar las primeras lineas del archivo
house_prices.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
house_prices.set_index('Id')

      MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                      ...
1             60       RL         65.0  ...        WD        Normal    208500
2             20       RL         80.0  ...        WD        Normal    181500
3             60       RL         68.0  ...        WD        Normal    223500
4             70       RL         60.0  ...        WD       Abnorml    140000
5             60       RL         84.0  ...        WD        Normal    250000
...          ...      ...          ...  ...       ...           ...       ...
1456          60       RL         62.0  ...        WD        Normal    175000
1457          20       RL         85.0  ...        WD        Normal    210000
1458          70       RL         66.0  ...        WD        Normal    266500
1459          20       RL         68.0  ...        WD        Normal    142125
1460          20       RL         75.0  ...        WD        Normal    147500

[1460 rows x 80 columns]

La función **read_csv** tiene muchos más argumentos que nos permiten hacer múltiples acciones a la hora de leer el archivo.

Por ejemplo podemos indicar el separador de cada línea del fichero con "sep", pero hay muchos otras opciones que podemos consultar en la[ documentación oficial.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
#Si tuvieramos un fichero en nuestro ordenador, y quisiéramos leerlo con pandas, tendríamos que pasarle la ruta del archivo.
#Por ejemplo, si lo tenemos en la carpeta de descargas de nuestro equipo, tendríamos que hacer algo así:
data = pd.read_csv('C:/Usuarios/Toni/Descargas/california_housing_kaggle')
data.head()

#Esto funcionaría con la mayoría de enviroments porque trabajan en local. Sin embargo, Google Colab trabaja 
#en la red por lo que debemos primero subir el fichero como veréis en la siguiente celda de código

FileNotFoundError: ignored

In [ ]:
#No es necesario que os aprendáis este código pero aquí lo tenéis por si en el futuro trabjáis con colab y quéreis manipular datos de ficheros que tenéis en local (en vuestro equipo)
from google.colab import files

uploaded = files.upload()

Saving california_housing_kaggle.csv to california_housing_kaggle.csv

In [ ]:
import io
california_housing_kaggle = pd.read_csv(io.BytesIO(uploaded['california_housing_kaggle.csv']))
california_housing_kaggle

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

#Leyendo datos de una base de datos
Python, y concretamente Pandas nos permite conectarnos a una base de datos y ejecutar código SQL para recuperar datos y guardarlos en un DataFrame.

Para este ejemplo, utilizaremos la libreria sqlite que creará una pequeña base de datos a la que nos podremos

In [ ]:
####################  ESTE TROZO DE CÓDIGO NOS CREARÁ UNA PEQUEÑA BASE DE DATOS PARA UTILIZAR DE EJEMPLO. ####
####################   NO ES NECESARIO QUE LO APRENDÁIS, SOLO EJECUTARLO UNA VEZ                          ####
# Importamos SQLite
import sqlite3 
# conectamos a la BD
db_con = sqlite3.connect(r'database.db') 
# Leemos todos los csvs
c = pd.read_excel('https://raw.githubusercontent.com/tonilopezrosell/datasciencemasterthevalley/main/movies.xlsx')
o = pd.read_excel("https://raw.githubusercontent.com/tonilopezrosell/datasciencemasterthevalley/main/gender.xlsx")
r = pd.read_excel("https://raw.githubusercontent.com/tonilopezrosell/datasciencemasterthevalley/main/actors.xlsx")
p = pd.read_excel("https://raw.githubusercontent.com/tonilopezrosell/datasciencemasterthevalley/main/actor_movies.xlsx")
# Escribimos los txts como tablas en la base de datos.
c.to_sql('movies', db_con, if_exists='replace', index=False) 
o.to_sql('gender', db_con, if_exists='replace', index=False) 
r.to_sql('actors', db_con, if_exists='replace', index=False) 
p.to_sql('actor_movies', db_con, if_exists='replace', index=False) 

#Cerramos la conexion.
db_con.close()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
#Para conectarse a una base de datos necesitamos primero saber donde se encuentra, y normalmente usuario y contraseña. 
#Pero en esta ocasion nos basta con ejecutar la siguiente línea.
db_con = sqlite3.connect(r'database.db')

In [ ]:
#Con la función read_sql de pandas podemos introducir código SQL y extraer datos de una base de datos.
#Solo necesitamos introducir dos argumentos: la consulta SQL, y la conexión a la base de datos.
actors = pd.read_sql("SELECT * FROM actors", db_con)
actors

    act_id           act_fname   act_lname act_gender
0               101      James     Stewart          M
1               102    Deborah        Kerr          F
2               103      Peter      Otoole          M
3               104     Robert     De Niro          M
4               105   F.Murray     Abraham          M
5               106   Harrison        Ford          M
6               107     Nicole      Kidman          F
7               108    Stephen     Bladwin          M
8               109       Jack   Nicholson          M
9               110       Mark    Wahlberg          M
10              111      Woody       Allen          M
11              112     Claire       Danes          F
12              113        Tim     Robbins          M
13              114      Kevin      Spacey          M
14              115       Kate     Winslet          F
15              116      Robin    Williams          M
16              117        Jon      Voight          M
17              118       Ewan    McGregor          M
18              119  Christian        Bale          M
19              120     Maggie  Gyllenhaal          F
20              121        Dev       Petel          M
21              122  Sigourney      Weaver          F
22              123      David       Aston          M
23              124        Ali       Astin          F

In [ ]:
type(actors)

pandas.core.frame.DataFrame

Recordad que podemos mezclar tablas con JOIN, para aprovechar y traernos ya los datos mezclados en un mismo dataframe.

In [ ]:
movies_and_genders = pd.read_sql("SELECT * FROM movies JOIN gender ON movies.genero = gender.genero", db_con)
movies_and_genders.head()

   mov_id           mov_title  mov_year  ... genero genero  gen_title
0     901             Vertigo      1958  ...   1010   1010    Mystery
1     902       The Innocents      1961  ...   1008   1008     Horror
2     903  Lawrence of Arabia      1962  ...   1002   1002  Adventure
3     904     The Deer Hunter      1978  ...   1013   1013        War
4     905             Amadeus      1984  ...   1004   1004  Biography

[5 rows x 10 columns]

Ya sabemos conseguir datos de 3 maneras diferentes:


1.   Creando un dataframe nosotros mismos (con diccionarios o listas)
2.   Leyendo de ficheros CSV
3.   Conectandonos a una base de datos y ejecutando código SQL para traernos el resultado.

# EJERCICIO 2

CON SQL:
1. Selecciona los tres primeros registros de la tabla movies. SELECT, FROM, LIMIT
2. Selecciona las columnas id, title y time solamente de los 5 primeros registros de la tabla movies. SELECT, FROM, LIMIT
3. Muestra los países de origen de las distintas películas de la tabla movies (sin repetir). SELECT, DISTINCT, FROM
5. Selecciona las tres primeras películas donde el año sea mayor a 1990 y la duración mayor a 100 minutos. SELECT, WHERE, FROM, LIMIT
6. Por país, cuenta el número de películas y obtén la duración promedio de las películas. SELECT, COUNT(), AVG(), FROM, GROUP BY
7. Obtén los nombres de las películas de género Drama. SELECT, FROM, JOIN, WHERE

# Accediendo y Manejando los Dataframes
En esta sección veremos las formas más comunes de tratar con un dataframe. Como accedemos a las diferentes columnas y filas y cómo se utiliza el index.

In [ ]:
#esta funcion nos indica cuantas filas y columnas tiene nuestro dataframe
movies = pd.read_sql("SELECT * FROM movies", db_con)
movies.shape

(28, 8)

In [ ]:
#la funcion len() de python nos devuelve la longitud de objetos, arrays, y tambien de DataFrames
len(movies)

28

In [ ]:
# Podemos ver los valores de una sola columna escribiendo dataframe.nombrecolumna
movies.mov_title

0                 Vertigo
1           The Innocents
2      Lawrence of Arabia
3         The Deer Hunter
4                 Amadeus
5            Blade Runner
6         Eyes Wides Shut
7      The Usual Suspects
8               Chinatown
9           Boogie Nights
10             Annie Hall
11      Princess Mononoke
12          The Shawshank
13        American Beauty
14                Titanic
15      Good Will Hunting
16            Deliverance
17          Trainspotting
18           The Prestige
19           Donnie Darko
20    Slumdog Millionaire
21                 Aliens
22         Beyond the Sea
23                 Avatar
24          Seven Samurai
25          Spirited Away
26     Back to the Future
27             Braveheart
Name: mov_title, dtype: object

In [ ]:
movies.mov_time

0     128
1     100
2     216
3     183
4     160
5     117
6     159
7     106
8     130
9     155
10     93
11    134
12    142
13    122
14    194
15    126
16    109
17     94
18    130
19    113
20    120
21    137
22    118
23    162
24    207
25    125
26    116
27    178
Name: mov_time, dtype: int64

In [ ]:
#También podemos hacerlo de de esta forma
movies["mov_title"]

0                 Vertigo
1           The Innocents
2      Lawrence of Arabia
3         The Deer Hunter
4                 Amadeus
5            Blade Runner
6         Eyes Wides Shut
7      The Usual Suspects
8               Chinatown
9           Boogie Nights
10             Annie Hall
11      Princess Mononoke
12          The Shawshank
13        American Beauty
14                Titanic
15      Good Will Hunting
16            Deliverance
17          Trainspotting
18           The Prestige
19           Donnie Darko
20    Slumdog Millionaire
21                 Aliens
22         Beyond the Sea
23                 Avatar
24          Seven Samurai
25          Spirited Away
26     Back to the Future
27             Braveheart
Name: mov_title, dtype: object

In [ ]:
#Para acceder a una fila segun su posición en el dataframe utilizaremos iloc
#help(movies.iloc)
movies.iloc[9]

mov_id                       910
mov_title          Boogie Nights
mov_year                    1997
mov_time                     155
mov_lang                 English
mov_dt_rel            1998-02-16
mov_rel_country               UK
genero                      1005
Name: 9, dtype: object

In [ ]:
#Si lo que queremos es acceder a una columna por su posición, lo haremos indicando 
#que queremos todas las filas con : y la posicion de la columna deseada.
#Así seleccionamos la columna mov_title, que se encuentra en la segunda posición
movies.iloc[:, 1]

0                 Vertigo
1           The Innocents
2      Lawrence of Arabia
3         The Deer Hunter
4                 Amadeus
5            Blade Runner
6         Eyes Wides Shut
7      The Usual Suspects
8               Chinatown
9           Boogie Nights
10             Annie Hall
11      Princess Mononoke
12          The Shawshank
13        American Beauty
14                Titanic
15      Good Will Hunting
16            Deliverance
17          Trainspotting
18           The Prestige
19           Donnie Darko
20    Slumdog Millionaire
21                 Aliens
22         Beyond the Sea
23                 Avatar
24          Seven Samurai
25          Spirited Away
26     Back to the Future
27             Braveheart
Name: mov_title, dtype: object

In [ ]:
#Recordad que podemos jugar con : de manera muy cómoda, tanto para seleccionar más de una fila coomo mas de una columna
movies.iloc[-5:]

#Ejecutad estas sentencias para comprobar  los resultados.
#movies.iloc[10:15, 1]
#movies.iloc[10:, 1:5]
#movies.iloc[:, 1:]
#movies.iloc[-5:]

    mov_id           mov_title  mov_year  ...  mov_dt_rel mov_rel_country genero
23     924              Avatar      2009  ...  2009-12-17              UK   1002
24     926       Seven Samurai      1954  ...  1954-04-26              JP   1007
25     927       Spirited Away      2001  ...  2003-09-12              UK   1010
26     928  Back to the Future      1985  ...  1985-12-04              UK   1007
27     925          Braveheart      1995  ...  1995-09-08              UK   1007

[5 rows x 8 columns]

In [ ]:
#Con iloc accedemos a los elementos basandonos en su posición, pero con loc lo hacemos basándonos en su Nombre/Etiqueta/Index
movies.loc[21]  #con esta sentencia conseguimos la fila 21

mov_id                    922
mov_title              Aliens
mov_year                 1986
mov_time                  137
mov_lang              English
mov_dt_rel         1986-08-29
mov_rel_country            UK
genero                   1001
Name: 21, dtype: object

In [ ]:
#Podemos conseguir también la columna Country por su nombre.
#help(movies.loc)
movies.loc[:, "mov_title"]

0                 Vertigo
1           The Innocents
2      Lawrence of Arabia
3         The Deer Hunter
4                 Amadeus
5            Blade Runner
6         Eyes Wides Shut
7      The Usual Suspects
8               Chinatown
9           Boogie Nights
10             Annie Hall
11      Princess Mononoke
12          The Shawshank
13        American Beauty
14                Titanic
15      Good Will Hunting
16            Deliverance
17          Trainspotting
18           The Prestige
19           Donnie Darko
20    Slumdog Millionaire
21                 Aliens
22         Beyond the Sea
23                 Avatar
24          Seven Samurai
25          Spirited Away
26     Back to the Future
27             Braveheart
Name: mov_title, dtype: object

In [ ]:
movies.loc[:, ["mov_title", "mov_year"]] #podemos conseguir más de una columna a la vez

              mov_title  mov_year
0               Vertigo      1958
1         The Innocents      1961
2    Lawrence of Arabia      1962
3       The Deer Hunter      1978
4               Amadeus      1984
5          Blade Runner      1982
6       Eyes Wides Shut      1999
7    The Usual Suspects      1995
8             Chinatown      1974
9         Boogie Nights      1997
10           Annie Hall      1977
11    Princess Mononoke      1997
12        The Shawshank      1994
13      American Beauty      1999
14              Titanic      1997
15    Good Will Hunting      1997
16          Deliverance      1972
17        Trainspotting      1996
18         The Prestige      2006
19         Donnie Darko      2001
20  Slumdog Millionaire      2008
21               Aliens      1986
22       Beyond the Sea      2004
23               Avatar      2009
24        Seven Samurai      1954
25        Spirited Away      2001
26   Back to the Future      1985
27           Braveheart      1995

##¿Recordáis que al leer de un archivo podíamos indicar la columna que serviría Index (es la forma que llama pandas al label o etiqueta)?

También podemos crearlo nosotros manualmente con la función set_index()

In [ ]:
actors = pd.read_sql("SELECT * FROM actors", db_con)
actors

    act_id           act_fname   act_lname act_gender
0               101      James     Stewart          M
1               102    Deborah        Kerr          F
2               103      Peter      Otoole          M
3               104     Robert     De Niro          M
4               105   F.Murray     Abraham          M
5               106   Harrison        Ford          M
6               107     Nicole      Kidman          F
7               108    Stephen     Bladwin          M
8               109       Jack   Nicholson          M
9               110       Mark    Wahlberg          M
10              111      Woody       Allen          M
11              112     Claire       Danes          F
12              113        Tim     Robbins          M
13              114      Kevin      Spacey          M
14              115       Kate     Winslet          F
15              116      Robin    Williams          M
16              117        Jon      Voight          M
17              118       Ewan    McGregor          M
18              119  Christian        Bale          M
19              120     Maggie  Gyllenhaal          F
20              121        Dev       Petel          M
21              122  Sigourney      Weaver          F
22              123      David       Aston          M
23              124        Ali       Astin          F

In [ ]:
actors.columns

Index(['act_id         ', 'act_fname', 'act_lname', 'act_gender'], dtype='object')

In [ ]:
#actors.columns = ['act_id', 'act_fname', 'act_lname', 'act_gender']

In [ ]:
actors.set_index(['act_id         '], inplace=True)

actors.head()

                act_fname act_lname act_gender
act_id
101                 James   Stewart          M
102               Deborah      Kerr          F
103                 Peter    Otoole          M
104                Robert   De Niro          M
105              F.Murray   Abraham          M

In [ ]:
#Y ahora con .loc podemos encontrar filas por el ID del actor
actors.loc[104]

act_fname      Robert
act_lname     De Niro
act_gender          M
Name: 104, dtype: object

#Acceso condicional para filtrar 
Hasta ahora hemos aprendido los basics de acceder a diferentes filas y columnas de un dataset. En esta sección aprenderemos como filtrar filas basándonos en los valores que contienen.

In [ ]:
#Vereis que esta sentencia nos devuelve True o False para cada fila si cumple o no la condición.
movies.mov_year == 1999

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
Name: mov_year, dtype: bool

In [ ]:
#Si pasamos el anterior trozo de código a loc, nos devolverá las filas que cumplen la condición.
movies.loc[movies.mov_year==1999]

    mov_id        mov_title  mov_year  ...  mov_dt_rel mov_rel_country genero
6      907  Eyes Wides Shut      1999  ...          UK            None   1010
13     914  American Beauty      1999  ...        None              UK   1011

[2 rows x 8 columns]

In [ ]:
#Podemos combinar y crear condiciones tan complicadas como necesitemos con & (Y) y | (O)
movies.loc[ (movies.mov_year==1958) & (movies.mov_lang=="English")]

   mov_id mov_title  mov_year  ...  mov_dt_rel mov_rel_country genero
0     901   Vertigo      1958  ...  1958-08-24              UK   1010

[1 rows x 8 columns]

Existen varias funciones que nos facilitan la vida a la hora de seleccionar filas.



*   isin nos permite especificar más de un valor válido
*   notnull nos permite seleccionar las filas que no tengan valores nulos

In [ ]:
#para seleccionar todas las filas cuyo valor de mov_rel_country cumpla uno de estos dos valores
movies.loc[movies.mov_rel_country.isin(["JP", "USA"])]

    mov_id      mov_title  mov_year  ...  mov_dt_rel mov_rel_country genero
10     911     Annie Hall      1977  ...  1977-04-20             USA   1005
24     926  Seven Samurai      1954  ...  1954-04-26              JP   1007

[2 rows x 8 columns]

In [ ]:
movies.loc[movies.mov_rel_country.isin(["JP", "USA"])==False] #podemos hacer la inversa añadiendo == False

    mov_id            mov_title  mov_year  ...  mov_dt_rel mov_rel_country genero
0      901              Vertigo      1958  ...  1958-08-24              UK   1010
1      902        The Innocents      1961  ...  1962-02-19              SW   1008
2      903   Lawrence of Arabia      1962  ...  1962-12-11              UK   1002
3      904      The Deer Hunter      1978  ...  1979-03-08              UK   1013
4      905              Amadeus      1984  ...  1985-01-07              UK   1004
5      906         Blade Runner      1982  ...  1982-09-09              UK   1012
6      907      Eyes Wides Shut      1999  ...          UK            None   1010
7      908   The Usual Suspects      1995  ...  1995-08-25              UK   1006
8      909            Chinatown      1974  ...  1974-08-09              UK   1001
9      910        Boogie Nights      1997  ...  1998-02-16              UK   1005
11     912    Princess Mononoke      1997  ...  2001-10-19              UK   1003
12     913        The Shawshank      1994  ...  1995-02-17              UK   1006
13     914      American Beauty      1999  ...        None              UK   1011
14     915              Titanic      1997  ...  1998-01-23              UK   1007
15     916    Good Will Hunting      1997  ...  1998-06-03              UK   1007
16     917          Deliverance      1972  ...  1982-10-05              UK   1002
17     918        Trainspotting      1996  ...  1996-02-23              UK   1007
18     919         The Prestige      2006  ...  2006-11-10              UK   1002
19     920         Donnie Darko      2001  ...        None              UK   1007
20     921  Slumdog Millionaire      2008  ...  2009-01-09              UK   1007
21     922               Aliens      1986  ...  1986-08-29              UK   1001
22     923       Beyond the Sea      2004  ...  2004-11-26              UK   1009
23     924               Avatar      2009  ...  2009-12-17              UK   1002
25     927        Spirited Away      2001  ...  2003-09-12              UK   1010
26     928   Back to the Future      1985  ...  1985-12-04              UK   1007
27     925           Braveheart      1995  ...  1995-09-08              UK   1007

[26 rows x 8 columns]

In [ ]:
#todas las filas cuya region no sea null
movies.loc[movies.mov_rel_country.notnull()] #No sale la 6

    mov_id            mov_title  mov_year  ...  mov_dt_rel mov_rel_country genero
0      901              Vertigo      1958  ...  1958-08-24              UK   1010
1      902        The Innocents      1961  ...  1962-02-19              SW   1008
2      903   Lawrence of Arabia      1962  ...  1962-12-11              UK   1002
3      904      The Deer Hunter      1978  ...  1979-03-08              UK   1013
4      905              Amadeus      1984  ...  1985-01-07              UK   1004
5      906         Blade Runner      1982  ...  1982-09-09              UK   1012
7      908   The Usual Suspects      1995  ...  1995-08-25              UK   1006
8      909            Chinatown      1974  ...  1974-08-09              UK   1001
9      910        Boogie Nights      1997  ...  1998-02-16              UK   1005
10     911           Annie Hall      1977  ...  1977-04-20             USA   1005
11     912    Princess Mononoke      1997  ...  2001-10-19              UK   1003
12     913        The Shawshank      1994  ...  1995-02-17              UK   1006
13     914      American Beauty      1999  ...        None              UK   1011
14     915              Titanic      1997  ...  1998-01-23              UK   1007
15     916    Good Will Hunting      1997  ...  1998-06-03              UK   1007
16     917          Deliverance      1972  ...  1982-10-05              UK   1002
17     918        Trainspotting      1996  ...  1996-02-23              UK   1007
18     919         The Prestige      2006  ...  2006-11-10              UK   1002
19     920         Donnie Darko      2001  ...        None              UK   1007
20     921  Slumdog Millionaire      2008  ...  2009-01-09              UK   1007
21     922               Aliens      1986  ...  1986-08-29              UK   1001
22     923       Beyond the Sea      2004  ...  2004-11-26              UK   1009
23     924               Avatar      2009  ...  2009-12-17              UK   1002
24     926        Seven Samurai      1954  ...  1954-04-26              JP   1007
25     927        Spirited Away      2001  ...  2003-09-12              UK   1010
26     928   Back to the Future      1985  ...  1985-12-04              UK   1007
27     925           Braveheart      1995  ...  1995-09-08              UK   1007

[27 rows x 8 columns]

# Asignando valores y creando nuevas columnas
Hasta ahora hemos aprendido como juguetear con los datos que hemos leído. En esta seccion aprenderemos como creamos nuevas columnas para ir aumentando y enriqueciendo nuestro DataFrame.

Podemos asignar un valor igual a todas las filas del DataFrame de una manera muy sencilla. En ocasiones queremos añadir una columna nueva que contenga un valor.

In [ ]:
movies["Formato"] = "Largometraje"
movies

    mov_id            mov_title  mov_year  ...  mov_rel_country genero       Formato
0      901              Vertigo      1958  ...               UK   1010  Largometraje
1      902        The Innocents      1961  ...               SW   1008  Largometraje
2      903   Lawrence of Arabia      1962  ...               UK   1002  Largometraje
3      904      The Deer Hunter      1978  ...               UK   1013  Largometraje
4      905              Amadeus      1984  ...               UK   1004  Largometraje
5      906         Blade Runner      1982  ...               UK   1012  Largometraje
6      907      Eyes Wides Shut      1999  ...             None   1010  Largometraje
7      908   The Usual Suspects      1995  ...               UK   1006  Largometraje
8      909            Chinatown      1974  ...               UK   1001  Largometraje
9      910        Boogie Nights      1997  ...               UK   1005  Largometraje
10     911           Annie Hall      1977  ...              USA   1005  Largometraje
11     912    Princess Mononoke      1997  ...               UK   1003  Largometraje
12     913        The Shawshank      1994  ...               UK   1006  Largometraje
13     914      American Beauty      1999  ...               UK   1011  Largometraje
14     915              Titanic      1997  ...               UK   1007  Largometraje
15     916    Good Will Hunting      1997  ...               UK   1007  Largometraje
16     917          Deliverance      1972  ...               UK   1002  Largometraje
17     918        Trainspotting      1996  ...               UK   1007  Largometraje
18     919         The Prestige      2006  ...               UK   1002  Largometraje
19     920         Donnie Darko      2001  ...               UK   1007  Largometraje
20     921  Slumdog Millionaire      2008  ...               UK   1007  Largometraje
21     922               Aliens      1986  ...               UK   1001  Largometraje
22     923       Beyond the Sea      2004  ...               UK   1009  Largometraje
23     924               Avatar      2009  ...               UK   1002  Largometraje
24     926        Seven Samurai      1954  ...               JP   1007  Largometraje
25     927        Spirited Away      2001  ...               UK   1010  Largometraje
26     928   Back to the Future      1985  ...               UK   1007  Largometraje
27     925           Braveheart      1995  ...               UK   1007  Largometraje

[28 rows x 9 columns]

En otras ocasiones queremos que ese valor solo se aplique cuando se cumpla una condicion. En ese caso combinaremos lo aprendido en la sección anterior.

In [ ]:
movies.loc[movies.mov_time > 200, "Formato"] = "Muy largometraje"
movies

    mov_id            mov_title  ...  genero           Formato
0      901              Vertigo  ...    1010      Largometraje
1      902        The Innocents  ...    1008      Largometraje
2      903   Lawrence of Arabia  ...    1002  Muy largometraje
3      904      The Deer Hunter  ...    1013      Largometraje
4      905              Amadeus  ...    1004      Largometraje
5      906         Blade Runner  ...    1012      Largometraje
6      907      Eyes Wides Shut  ...    1010      Largometraje
7      908   The Usual Suspects  ...    1006      Largometraje
8      909            Chinatown  ...    1001      Largometraje
9      910        Boogie Nights  ...    1005      Largometraje
10     911           Annie Hall  ...    1005      Largometraje
11     912    Princess Mononoke  ...    1003      Largometraje
12     913        The Shawshank  ...    1006      Largometraje
13     914      American Beauty  ...    1011      Largometraje
14     915              Titanic  ...    1007      Largometraje
15     916    Good Will Hunting  ...    1007      Largometraje
16     917          Deliverance  ...    1002      Largometraje
17     918        Trainspotting  ...    1007      Largometraje
18     919         The Prestige  ...    1002      Largometraje
19     920         Donnie Darko  ...    1007      Largometraje
20     921  Slumdog Millionaire  ...    1007      Largometraje
21     922               Aliens  ...    1001      Largometraje
22     923       Beyond the Sea  ...    1009      Largometraje
23     924               Avatar  ...    1002      Largometraje
24     926        Seven Samurai  ...    1007  Muy largometraje
25     927        Spirited Away  ...    1010      Largometraje
26     928   Back to the Future  ...    1007      Largometraje
27     925           Braveheart  ...    1007      Largometraje

[28 rows x 9 columns]

Podemos cambiar todos los valores que cumplen una condición o varias combinando los operadores.

---

In [ ]:
movies.loc[(movies.mov_year > 1989) & (movies.mov_year < 2000), "mov_year"] = "90's"
movies

    mov_id            mov_title mov_year  ...  mov_dt_rel mov_rel_country genero
0      901              Vertigo     1958  ...  1958-08-24              UK   1010
1      902        The Innocents     1961  ...  1962-02-19              SW   1008
2      903   Lawrence of Arabia     1962  ...  1962-12-11              UK   1002
3      904      The Deer Hunter     1978  ...  1979-03-08              UK   1013
4      905              Amadeus     1984  ...  1985-01-07              UK   1004
5      906         Blade Runner     1982  ...  1982-09-09              UK   1012
6      907      Eyes Wides Shut     90's  ...          UK            None   1010
7      908   The Usual Suspects     90's  ...  1995-08-25              UK   1006
8      909            Chinatown     1974  ...  1974-08-09              UK   1001
9      910        Boogie Nights     90's  ...  1998-02-16              UK   1005
10     911           Annie Hall     1977  ...  1977-04-20             USA   1005
11     912    Princess Mononoke     90's  ...  2001-10-19              UK   1003
12     913        The Shawshank     90's  ...  1995-02-17              UK   1006
13     914      American Beauty     90's  ...        None              UK   1011
14     915              Titanic     90's  ...  1998-01-23              UK   1007
15     916    Good Will Hunting     90's  ...  1998-06-03              UK   1007
16     917          Deliverance     1972  ...  1982-10-05              UK   1002
17     918        Trainspotting     90's  ...  1996-02-23              UK   1007
18     919         The Prestige     2006  ...  2006-11-10              UK   1002
19     920         Donnie Darko     2001  ...        None              UK   1007
20     921  Slumdog Millionaire     2008  ...  2009-01-09              UK   1007
21     922               Aliens     1986  ...  1986-08-29              UK   1001
22     923       Beyond the Sea     2004  ...  2004-11-26              UK   1009
23     924               Avatar     2009  ...  2009-12-17              UK   1002
24     926        Seven Samurai     1954  ...  1954-04-26              JP   1007
25     927        Spirited Away     2001  ...  2003-09-12              UK   1010
26     928   Back to the Future     1985  ...  1985-12-04              UK   1007
27     925           Braveheart     90's  ...  1995-09-08              UK   1007

[28 rows x 8 columns]

Podemos crear columnas como fórmulas matemáticas de otras columnas.

In [ ]:
movies["mov_time_in_secs"] = movies["mov_time"] * 60
movies.head()

   mov_id           mov_title  ... genero  mov_time_in_secs
0     901             Vertigo  ...   1010              7680
1     902       The Innocents  ...   1008              6000
2     903  Lawrence of Arabia  ...   1002             12960
3     904     The Deer Hunter  ...   1013             10980
4     905             Amadeus  ...   1004              9600

[5 rows x 9 columns]

# Exportando dataframes to_ function

Haciendo operaciones sobre las columnas, aplicando funciones y filtrando lo que nos interesa, vamos a crear nuevos dataframes.

Estos dataframes pueden exportarse a ficheros para ser usados más adelante.

In [ ]:
#A csv
# Si trabajáis en local filpath --> movies.to_csv(path_or_buf= 'C:/Users/Toni/Desktop/THE_VALLEY/movies.csv', index = False)

#En colab

from google.colab import files

movies.to_csv('movies.csv', index = False)
files.download('movies.csv')

In [ ]:
#A excel
# Si trabajáis en local filpath --> movies.to_excel('C:/Users/Toni/Desktop/THE_VALLEY/movies.xlsx', index = False)

#En colab

from google.colab import files

movies.to_excel('movies.xlsx', index = False)
files.download('movies.xlsx')

# EJERCICIO 3

Utiliza lo aprendido en esta sesión para completar las siguientes acciones en un dataset de precios de casas en Ames, Iowa (USA). 

Fuente: http://jse.amstat.org/v19n3/decock.pdf

Dataset info: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

url fichero: "https://raw.githubusercontent.com/tonilopezrosell/datasciencemasterthevalley/main/house_prices.csv"

También puedes descargarlo de Kaggle y leerlo como un fichero local.

1. Lee el csv con pandas
2. Obtén el número de filas y columnas del dataframe
3. Obtén los nombres de las columnas del dataframe
4. Obtén un dataframe con los datos de las casas construidas después de 1999 con más de 3 habitaciones (columna BedroomAbvGr) y con el techo a dos aguas (RoofStyle == "Gable") y expórtalo como csv.
5. Lee el csv resultante y cambia los valores de la columna de 'CentralAir' de 'Y' y 'N' a 'Yes' y 'No'.
6. Del dataframe resultante Selecciona solo aquellas filas que tengan info sobre la calidad de la chimenea, es decir, cuya valor en la columna FireplaceQu no sea nulo.
7. Trabajas en la inmobiliaria que está vendiendo las casas del dataset. La inmobiliaria ha decidido aplicar un descuento del 10% a aquellas casas con más de 15 años y un 5% de descuento a aquellas casas que tienen entre 12 y 15 años (desde el año de la última remodelación: YearRemodAdd). Crea una columna llamada Discount_perc que registre estos descuentos y otra columna con el precio final de la casa aplicando el descuento sobre la columna SalePrice.

# DEJA TU FEEDBACK DE LA SESIÓN Y AYÚDANOS A MEJORAR!

![image (4).png]()